includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - src/
        - config/
        - database/

    # Level 9 is the highest level
    level: 5

    checkModelProperties: true
    checkOctaneCompatibility: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    noUnnecessaryCollectionCall: true
    checkNullables: true
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#PHPDoc tag @var#'

#    excludePaths:
